<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Welcome!{% endblock %}</title>
        

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/general/style.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/general/nav.css') }}" />
            <link rel="stylesheet" href="{{asset('css/general/erreur.css') }}">
        {% endblock %}

    </head>

    {% include "nav.html.twig" %}
    
    {% for message in app.flashes('success') %}
        <div class="flash-message success">
            {{ message }}
        </div>
    {% endfor %}
    
    {% for message in app.flashes('fail') %}
        <div class="flash-message fail">
            {{ message }}
        </div>
    {% endfor %}

    <body>
        {% block body %}
        {% endblock %}
        
        {% block javascripts %}
            <script src="{{ asset('js/nav.js') }}"></script>
        {% endblock %}
    </body>

    <footer>
        <div class="reseaux-wrap">
            <a href="">
                <img src="{{ asset('images/facebook.svg') }}" alt="icone facebook">
            </a>
            <a href="">
                <img src="{{ asset('images/instagram.svg') }}" alt="icone instagram">
            </a>
            <a href="">
                <img src="{{ asset('images/twitter.svg') }}" alt="icone twitter">
            </a>
        </div>
        <p class="copyright"> <a href=" {{ path('home_page') }}">PCG</a> | Copyright - Kenan Ntap</p>
    </footer>
</html>
